@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Poppins', sans-serif;
}

a{
    color: #000;
    text-decoration: none;
}

header{
    border-bottom: 5px solid #f00;
    height: 10vh;
    background-color: #fff;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.menu {
    display: flex;
    justify-content: space-between;
    /* padding: 10px 0; */
    font-weight: bold;
    height: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 10px;
}

.menu .img{
    flex: 1;
    display: flex;
    align-items: center;
}

.menu > i{
    color: #f00;
    font-size: 42px;
    display: none;
    align-items: center;
    cursor: pointer;
}

.img img{
    height: 60%;
}

.nav-list{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 2;
    transition: ease-in-out 0.3s;
}

.nav-list li{
    list-style-type: none;
    margin: 0 40px;
}

.nav-list li:last-child{
    margin-right: 0;
}

.nav-list li a{
    text-decoration: none;
    font-size: 1.1rem;
    color: #999;
}

@media screen and (max-width: 619px){
    .menu i{
        display: flex;
    }

    .nav-list{
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        /* top: 110px; */
        top: 10vh;
        right: 0;
        background-color: antiquewhite;
        width: 100%;
    }

    .nav-list li{
        margin: 0;
        padding: 20px 0;
        background-color: #fff;
        width: 100%;
        border-bottom: 2px solid #ccc;
        text-align: center;
    }

    .nav-list li:hover{
        background-color: #ddd;
    }

    /* .nav-list li:first-child{
        padding-top: 30px;
    } */

    .nav-list li a{
        font-size: 1.5rem;
    }
}